
<table border="2" width="400" cellspacing="0" cellpadding="5">
    <tr>
      <th>EMP Number</th>
      <th>EMP Name</th>
      <th>EMP Job</th>
      <th>EMP Salary</th>
      <th>EMP Deptno</th>
    </tr>
  
    <tr *ngFor="let emp of EmpSorted">
        <td>{{emp.Emp_Number}}</td>
        <td>{{emp.Emp_Name}}</td>
        <td>{{emp.Emp_Job}}</td>
        <td>{{emp.Emp_Salary}}</td>
        <td>{{emp.Emp_Deptno}}</td>
        
    </tr>
  
    <tr *ngIf="EmpSorted.length == 0">
      <td colspan="4">** No Employee avaialble in the database</td>
    </tr>
  
  </table>
