<!-- <h1> Application Development using Angular</h1>
<br>
<hr>
 -->
 <!-- <app-login></app-login>  -->
<!-- <app-friends></app-friends> -->
<!-- <app-login></app-login> -->
 <!-- <app-products></app-products>  -->
<!-- <app-binding-example></app-binding-example> -->
<!-- <app-dept-list></app-dept-list> -->
<!-- <app-products-category Productcategory ="Category 1"></app-products-category> -->

<!-- <app-filterlist (onhyperlinkclick)="sort($event)"></app-filterlist>
<br>
<br>
<app-employees [sortby]="sortingby"></app-employees> -->
<!-- <app-user></app-user> -->
<!-- <app-employees></app-employees> -->
<!-- 
<app-directives-products></app-directives-products> -->

<!-- <app-fancy-card>
    <h1>Test</h1>
    <marquee SampleId >Content Injected with id using ng-content</marquee >     
    <app-directives-products></app-directives-products>
</app-fancy-card>

<app-fancy-card>
     <app-friends></app-friends> 
</app-fancy-card> -->

<!-- <app-todolist></app-todolist> -->
<!-- 
<app-user-details></app-user-details> -->


<!-- <app-emp-list></app-emp-list> -->
<!-- 
<app-model-form-example></app-model-form-example> -->
<!-- <app-custom-attribute-directive></app-custom-attribute-directive> -->

<!-- <app-custom-structural-directive></app-custom-structural-directive> -->


<h3 align="center">Developing Single Page Application using Angular</h3>
<hr/>

<div style="text-align: center; background-color: azure; margin: 5px; padding: 5px;">
<a [routerLink]=" ['/'] ">Home</a>  |
<a [routerLink]=" ['/Categories'] ">Categories</a>  |
<a [routerLink]=" ['/aboutus'] ">About Us</a>  |
<a [routerLink]=" ['/contact'] ">Contact Us</a>  |
<a [routerLink]="['/login']" >Login</a>
</div>

<hr/>


    <router-outlet></router-outlet>


    <!-- <app-products></app-products> -->