<style>

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  
  .column {
    float: left;
    width: 30.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
    text-align: center;
  }
  

  
</style>

<h2> Listing Products with cards </h2>



    <div class="column" *ngFor ="let products of filterproducts">
        <div class="card">
          <img src= {{products.PPicture}} alt="Jane" style="width:50%;height:150px ; margin-left: auto; margin-right: auto; display: block;">
          <div class="container">
            <p>{{products.PPrice}}</p>
            <p>{{products.PCategory}}</p>
            <p>{{products.PQty}}</p>
          </div>
        </div>
      </div>

